.template.template3 .button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Reduced gap */
 }

.template.template3 .fundo-link {
   background-color: #ff4f4f;
  color: white;
   font-size: 16px; /* Reduced font size */
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
 }

.template.template3 .button {
  background-color: #1abc9c;
  color: white;
  border-radius: 20px;
  width: 60px; /* Reduced width */
  height: 60px; /* Reduced height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Reduced font size */
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

.template.template3 .button:hover {
  transform: scale(1.2);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.template.template3 .bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px; /* Reduced border radius */
  padding: 20px; /* Reduced padding */
  margin-bottom: 20px; /* Reduced margin */
  text-decoration: none;
  transition: transform 0.3s ease;
  color: #333;
      background-color: wheat;

  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

.template.template3 .link-item {
  display: flex;
  align-items: center;
  border-radius: 20px; /* Reduced border radius */
   margin-bottom: 20px; /* Reduced margin */
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #3498db; /* Changed background color */
  color: #fff;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

.template.template3 .link-item:hover {
  transform: translateY(-5px); /* Reduced transform */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6); /* Reduced box shadow */
}

.template.template3 .link-item img {
  width: 60px; /* Reduced width */
  height: 60px; /* Reduced height */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px; /* Reduced margin */
  border: 2px solid #fff; /* Reduced border */
}

.template.template3 .link-item h3 {
  color: #fff;
  font-size: 20px; /* Reduced font size */
  margin: 0;
}

.template.template3 .link-item p {
  color: #fff; /* Changed text color */
  margin: 5px 0 0; /* Reduced margin */
  font-size: 14px; /* Reduced font size */
}

.template.template3 .text-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px; /* Reduced border radius */
  padding: 20px; /* Reduced padding */
  margin-bottom: 20px; /* Reduced margin */
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

.template.template3 .text-box h3 {
  color: #e67e22;
  font-size: 24px; /* Reduced font size */
  margin-bottom: 10px; /* Reduced margin */
}

.template.template3 .text-box p {
  color: #333;
  font-size: 16px; /* Reduced font size */
  margin: 0;
}

.template.template3 .video-wrapper {
  background-color: rgba(231, 76, 60, 0.8);
  border-radius: 20px; /* Reduced border radius */
  padding: 20px; /* Reduced padding */
  margin-bottom: 20px; /* Reduced margin */
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

.template.template3 .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.image-link {
    display: block;
    position: relative;
    background-color: white;
    border: 2px solid #2c3e50;
    box-shadow: 5px 5px 0 black;
    margin-bottom: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

.image-link .custom-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-link .description {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

.image-link .description h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
