@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure html and body elements take up full height and allow scrolling */
html, body {
  height: 100%;
  overflow: auto;
}

.icon-standard {
  width: 64px; /* or use rem for relative sizing */
  height: 64px;
  object-fit: cover;
}

.logout {
border-radius: 5px;
    border-color: #2e2ee5;
    color: #1b256c;
  
}

.fundo-home {

background-color: #f3f3f1;
  
}

.colorido {

background-image: url('https://assets-global.website-files.com/647dfd182460b45da7ca7613/648739118455a30988d78ef9_Gradient_Background.svg');
background-position: 50%;
  background-size: cover;
  
}


.cor-roxa {

color: #2e2ee5;
  
}

.btn-link {
  background-color: #2e2ee5; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
}

.btn-link:hover {
  background-color: #16a085; /* Darker background color on hover */
  transform: translateY(-2px); /* Slightly move up on hover */
}

.btn-link2 {
   color: black; /* Button text color */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* Remove default border */
   
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Bold text */
 }

.btn-link3 {
      background-color: #2e2ee5; /* Button background color */
  font-size: 18px; /* Font size */
  border-radius: 5px; /* Rounded corners */

    font-weight: bold; /* Bold text */
 }


.w-layout-hflex {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
}

.flex-block {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    flex: none;
    justify-content: center;
}


@media screen and (max-width: 991px) {

   .testimonial1-item {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        display: flex;
    }
  
    .flex-block {
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        flex-flow: column wrap-reverse;
        flex: 0 auto;
        align-items: center;
        display: flex;
        overflow: visible;
    }

  .testimonial1-logo-wrap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    display: flex;
}
}

  @media screen and (max-width: 767px) {
    .testimonial1-item {
        width: auto;
    }
}

  
   



  
   


.icon-container {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--icon-background, #f0f0f0); /* default background color */
  border-radius: 50%;
}



body {
  @apply bg-gray-100;
   display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  /* Remove overflow: hidden to allow scrolling */
  line-height: 1.2rem;
  transform: skew(0);
}

.icon-container {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f2f2f;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin: 8px;
}

/* Ensure you have a proper selector */
.add_button {
  background-color: #F0F8FF;
  padding: 10px;
  border-radius: 10px;
}

.estica {

    min-height: 100vw;

  
}


.icon {
  color: #fff; /* White icon color */
      font-size: 28px;

}

.page-links-form-wrapper {
  position: relative;
  z-index: 0;
}

.max-wid {

  max-width: 500px;
}

/* Responsive design adjustment for smaller screens */
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
}

/* Style adjustments for form inputs and labels */
input[type="text"], textarea {
  @apply bg-gray-100 w-full block py-2 px-2 mb-2;
}

label.input-label {
  @apply uppercase text-gray-400 text-xs mb-2 font-semibold;
}

/* Style adjustments for radio buttons */
.radio-togglers {
  @apply p-1 bg-gray-200 inline-flex cursor-pointer;
}

.radio-togglers div {
  @apply p-2 px-4 text-gray-500 block flex items-center gap-2 cursor-pointer;
}

.radio-togglers input[type="radio"] {
  @apply hidden;
}

.radio-togglers input[type="radio"]:checked + div {
  @apply bg-white text-blue-600;
}

/* Style for draggable ghost element */
.sortable-ghost {
  opacity: .2;
}

/* Styles for navigation checkbox interactions */
input#navCb:checked ~ aside {
  left: 0;
}

input#navCb:checked ~ .backdrop {
  display: block;
}
